# This is Git's per-user configuration file.
[include]
   # For OS specific stuff so I can share via yadm
   path = .gitconfig_local
[alias]
   d = difftool
   mm = merge --no-ff
   graph = log --oneline --graph --decorate --all
   graph-all = log --oneline --graph --decorate --all --branches
   po = push -u origin
   pco = "!git push -u origin $(git branch | grep '^\\*' | cut -c 3-)"
   # Delete all branches that have been merged into the current HEAD *except* don't delete branches
   # named master or develop or the current branch.
   cleanup = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
   ca = !git add -A && git commit
   pnc = !git pull && git cleanup

[diff]
   tool = vimdiff
	renames = copy

[merge]
   tool = diffconflicts

[mergetool "diffconflicts"]
   cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
   trustExitCode = true
   keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
