- name: Get package facts
  package_facts:
    manager: "auto"
# Weused to use AppImgLauncher but it was buggy and intercepted any attempts to run an .AppImg which was annoying for
# command line tools. If we want a desktop integration tool we should probably move to
# https://github.com/mijorus/gearlever
- name: Ensure AppImgLauncher isn't installed.
  apt:
    name: appimagelauncher
    state: absent
  become: true
# This sets the open files limit for things started via PAM (e.g. ssh login)
- name: Configure file descriptor limits in /etc/security/limits.conf
  blockinfile:
    path: /etc/security/limits.conf
    block: |
      * soft nofile 1048576
      * hard nofile 1048576
    marker: "# {mark} ANSIBLE MANAGED BLOCK - File descriptor limits"
    backup: yes
  become: yes
# the following two lines set the open files limit for things started by systemd which includes normal login shell and
# GUI.
- name: Set DefaultLimitNOFILE in /etc/systemd/system.conf
  lineinfile:
    path: /etc/systemd/system.conf
    regexp: '^DefaultLimitNOFILE='
    line: 'DefaultLimitNOFILE=1048576'
    state: present
    insertafter: EOF
    backup: true
  become: yes
- name: Set DefaultLimitNOFILE in /etc/systemd/user.conf
  lineinfile:
    path: /etc/systemd/user.conf
    regexp: '^DefaultLimitNOFILE='
    line: 'DefaultLimitNOFILE=1048576'
    state: present
    insertafter: EOF
    backup: true
  become: yes
# Debian Trixie change /tmp so it's an in-memory tempfs which can mess up a bunch of stuff. This undoes that annoying
# change. See https://lowendbox.com/blog/a-deep-dive-into-debian-13s-tmp-whats-new-and-what-to-do-if-you-dont-like-it/
# for details.
- name: Fix /tmp so it's not a tmpfs
  command: systemctl mask tmp.mount
  when: ansible_distribution_major_version | int >= 13
  become: yes
# So now it's not an in-memory FS but there's still a job set to clean it out periodically which causes problems. For
# example, if you run an appimage it gets extracted to /tmp but then if you keep it open it'll get cleaned up and that
# can cause crashes when the executable goes to load a file that was bundled with the appimage (e.g. this would happen
# with Neovide). So here we fix that job.
- name: Disable to timer that cleans up /tmp
  systemd_service:
      state: stopped
      name: systemd-tmpfiles-clean.timer
      enabled: false
  become: yes
- name: Create an override to the tmpfile cleaner config
  blockinfile:
    path: /etc/tmpfiles.d/tmp.conf
    marker: "# {mark} ANSIBLE MANAGED BLOCK - File descriptor limits"
    block: |
      D /tmp 1777 root root -
  become: yes
- name: Reload systemd daemon
  systemd_service:
    daemon_reload: true
  become: yes
